---
import "./MenuButton.less";
---
<div class="menu-button">
    <p class="text">Menu</p>
    <!-- Mobile Nav Toggle -->
    <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
            <span class="cs-line cs-line1" aria-hidden="true"></span>
            <span class="cs-line cs-line2" aria-hidden="true"></span>
            <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
    </button>
</div>