---
import "./HomeExpeditionsLayout.less";
import HomeExpedGallery from "../../../components/HomeExpedGallery/HomeExpedGallery.astro";
import { t } from "i18next";
---
<!-- ============================================ -->
<!--       Homepage - Expeditions Section         -->
<!-- ============================================ -->
<section id="exped-section">
	<div class="container">
		<div class="content">
			<span class="topper">{t("homepage:homepage.expeditions-section.topper")}</span>
			<h2 class="section-title title exped-title">{t("homepage:homepage.expeditions-section.title")}</h2>
			<h3 class="section-subtitle subtitle">
				{t("homepage:homepage.expeditions-section.subtitle")}
			</h3>
		</div>
		<HomeExpedGallery />
		<div class="content">
			<p class="subtitle">{t("homepage:homepage.expeditions-section.text")}</p>
			<a href="/expeditions" class="solid-btn exped-section-btn">{t("homepage:homepage.expeditions-section.cta-btn-text")}</a>
		</div>
	</div>
</section>
