---
import "./HomeExpeditionsLayout.less";
import HomeExpedGallery from "../../../components/HomeExpedGallery/HomeExpedGallery.astro";
---
<!-- ============================================ -->
<!--       Homepage - Expeditions Section         -->
<!-- ============================================ -->
<section id="exped-section">
	<div class="container">
		<div class="content">
			<span class="topper">Expeditions</span>
			<h2 class="section-title title exped-title">Popular offers</h2>
			<h3 class="section-subtitle subtitle">
				Discover our multi-day treks, climbing expeditions and more
			</h3>
		</div>
		<HomeExpedGallery />
		<div class="content">
			<p class="subtitle">Discover everything huaraz has to offer</p>
			<a href="/expeditions" class="solid-btn exped-section-btn">View all Treks and Climbs</a>
		</div>
	</div>
</section>
