---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroLayout from "../layouts/HeroLayout/HeroLayout.astro";
import HomeAboutLayout from "../layouts/Homepage/HomeAboutLayout/HomeAboutLayout.astro";
import HomeExpeditionsLayout from "../layouts/Homepage/HomeExpeditionsLayout/HomeExpeditionsLayout.astro";
import HomeReviewsLayout from "../layouts/Homepage/HomeReviewsLayout/HomeReviewsLayout.astro";
import HomeGalleryLayout from "../layouts/Homepage/HomeGalleryLayout/HomeGalleryLayout.astro";
import HomepageImg from "../assets/images/hero/sylvain-mauroux-OIuzDRYA3cw-unsplash.jpg";
import HomepageImgMobile from "../assets/images/hero/sylvain-mauroux-OIuzDRYA3cw-unsplash-m.jpg";
---
<BaseLayout>
	<HeroLayout
		heroSection="homepage"
		heroTitle1="Discover Peru"
		heroTitle2="in a whole new way"
		heroImg={HomepageImg}
		heroImgMobile={HomepageImgMobile}
	/>
	<div class="background-overlay-diamond-right">
		<HomeAboutLayout />
		<HomeExpeditionsLayout />
	</div>
	<HomeReviewsLayout />		
	<div class="background-overlay-diamond-right-strong">
		<HomeGalleryLayout />
	</div>
</BaseLayout>