---
import "./IconAndLabelAndValue.less";
import { Image } from "astro:assets";
import phoneImg from "../../assets/svg/phone-call.png";
import mailImg from "../../assets/svg/email.png";

const { label, value } = Astro.props;
---
<!-- Icon (e.g. mail icon or phone icon) with a subtitle (e.g. MAIL) and a normal weight text (e.g. luclongin@gmail.com) -->
<div class="icon-and-label-and-value">
	{
		label.toLowerCase() == "phone" &&
			<Image src={phoneImg} alt="Phone Icon" height="32" width="32" />
    }
    {
		label.toLowerCase() == "email" &&
        <Image src={mailImg} alt="Mail Icon" height="32" width="32" />
    }

	<div class="text-content">
		<p class="subtitle">{label}</p>
		<p class="bold">{value}</p>
	</div>
	
</div>
