---
import './HomeEnquireLayout.less';
import IconAndLabelAndValue from "../../../components/IconAndLabelAndValue/IconAndLabelAndValue.astro";
import WhatsappButton from '../../../components/WhatsappButton/WhatsappButton.astro';
import enquireImg from '../../../assets/images/sheshan-r-4AU8t0aQHVI-unsplash.jpg';
import ImgCardwithOverlay from '../../../components/ImgCardwithOverlay/ImgCardwithOverlay.astro';
---
<!-- ============================================ -->
<!--           Homepage - Enquire Section         -->
<!-- ============================================ -->
<section id="home-enquire-section">
    <div class="container">
        <!-- Left section -->
		<div class="home-enquire-images-container">
			<ImgCardwithOverlay cardClass="enquire-img" title="Ready for an adventure?" imgSrc={enquireImg.src}/>
        </div>
        <!-- Right Section -->
		<div class="content" id="enquire">
			<span class="topper">Enquire</span>
			<h2 class="section-title title">Let's Get In Touch</h2>
			<IconAndLabelAndValue label="phone" value="(+51) 983 700 901"/>
			<IconAndLabelAndValue label="email" value="enquire@gurutravel.com"/>
			<WhatsappButton />
			<div class="enquire-maps-container">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.7797382201557!2d-77.53209187027657!3d-9.527856448275278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91a90d1051f3bf5f%3A0x84e830468cdaa5c8!2sPERU%20TOUR%20VIAJES%20Y%20TURISMO%20HUARAZ-ANCASH!5e0!3m2!1sen!2spe!4v1695149954027!5m2!1sen!2spe" width="232" height="208" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>	
			<div class="enquire-office-address">
					<p class="subtitle">Our Office</p>
					<p class="bold">
						Av. 27 de Noviembre 819, Huaraz, Per&uacute;
					</p>
				</div>
				<div class="enquire-office-hours-container">
					<div class="enquire-office-hours">
						<!--<p class="subtitle">Mon-Fri</p>-->
						<p class="">
							Monday - Friday: 7 PM - 5 PM
						</p>
					</div>
					<div class="enquire-office-hours">
						<!--<p class="subtitle">Sat-Sun</p>-->
						<p class="">
							Saturday - Sunday: 9 AM - 4 PM
						</p>
					</div>
				</div>
			</div>
		</div>
    </div>
</section>